body {
    font-family: sans-serif;
    background-color:yellow;
    color: rgba(255, 0, 0, 0.514);
}
nav{
    background-color:rgba(255, 0, 0, 0.514);
    color: yellow;
    padding: 10px 0px 10px 0px;
    font-size:20px;
}
nav a{
    color: yellow;
    text-decoration: none;
    padding-left: 20%;
}
footer{
    border-top:3px double #ffeed6;
    text-align:center;
    padding:0px ;
    margin:0px ;
    border-bottom:3px double #ffeed6 ;
    background-color:rgba(255, 0, 0, 0.514);
    color: yellow;

}

table{
    margin: 0px 10% 0px 10%;
}
table td{
    padding: 0px 20px 5px 20px;
}
h1{
    color: rgba(255, 0, 0, 0.514);
    padding: 0px 10px 5px 10px;
    text-align: center;
    font-size: 50px;
    margin: 5px;
}

img{
    width: 250px;
    height: 150px;
    border: 10px dotted #ffeed6;
}
.center2{
    text-align: center;
}
p{
    color: #600a0a;
}
h3{
    color: #704406;
    text-align: center;
    border-radius: 10px;
 width:30%;
 border:3px dotted #ca3232;
 margin-left: 30%;
}
